header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6.5%;
    @include mq(tablet) {
        padding: 2.5rem 6.5%;
    }
    @include mq(desktop) {
        padding: 3.5rem 11%;
    }
}